#node_module
node_modules/

#screenschots
cypress/screenshots/

#report
report/

#temp
temp/

#fixtures
cypress/fixtures/

#runner-results
runner-results/

#package-lock
package-lock.json

#multi-reporter-config
multi-reporter-config.json
cypress/parallel-weights.json